@model ChangePasswordViewModel
@{
    ViewData["Title"] = "Change Password";
}

<h2>Change Password</h2>
<div class="container">
    <div class="row">
        <div class="col-lg-10">
            <form method="post" asp-action="ChangePassword" asp-controller="Logins">
                <div class="form-group">
                    Email Address:  @ViewData["EmailAddress"]
                    <div class="form-control">
                        <label for="password" asp-for="Password">Enter New Password: </label>
                        <input type="password" asp-for="Password" id="password"/>
                    </div>
                </div>
                <input type="submit" value="Reset Password" />
            </form>
        </div>
    </div>
</div>