@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
}

<h2>@ViewData["Title"]</h2>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <form method="post" asp-controller="Logins" asp-action="ResetPassword">
                <div class="form-group">
                    <label for="email" asp-for="EmailAddress">Email Address: </label>
                    <input type="email" id="email" asp-for="EmailAddress" />
                </div>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
</div>

